.bolota {
    background-color: #fd0202;
    width: 128px;
    height: 128px;
    border-radius: 50%;
}

.first {
    color: #e7ff0b;
    text-shadow: 2px 2px #00000065;
}

.bolota-score {
    padding: 10px;
    border-radius: 30%;
    background-color: #FFF;
    box-shadow: 1px 2px 0px 1px #000000;
}